{% extends '::base.html.twig' %}
{% block title %}{{ entity.company }} - {{ entity.position}} {% endblock %}

{% block body %}

<h1>{{ entity.company }}</h1>
<h2>{{ entity.location }}</h2>
<h3>{{ entity.position }} 
	<small>({{ entity.type }})</small>
</h3>

<div class="description">
	{{ entity.description }}
</div>

<h4>How to apply?</h4>
<p class="how-to-apply">{{ entity.howtoapply }}</p>

<a href="{{ path('job_edit', { 'id': entity.id }) }}">
    Edit
</a>
{% endblock %}
